<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="product-container" style="font-family: sans-serif; margin: 0 auto; width: 70%; background-color: #e5f4ff; text-align: center; border-radius: 5px; color: #0044ff;">
        <div class="product-name" style="color: #00bfff;">
            <h1 th:text="${product.name}"> </h1>
        </div>
        <div class="product-line">
            <img th:src="*{product.image}" style="width: 50%;"/>
        </div>
        <div class="product-line">
            <span>Категория: </span>
            <span th:text="${product.category}"></span>
        </div>
        <div class="product-line">
            <span>Страна: </span>
            <span th:text="${product.country}"></span>
        </div>
        <div class="product-line">
            <span>Бренд: </span>
            <span th:text="${product.brand}"></span>
        </div>
        <div class="product-line">
            <span>Пол: </span>
            <span th:text="${product.gender}"></span>
        </div>
        <div class="product-line">
            <span>Цвет: </span>
            <span th:text="${product.color}"></span>
        </div>
        <div class="product-line">
            <span>Форма: </span>
            <span th:text="${product.shape}"></span>
        </div>
        <div class="product-line">
            <span>Значение зрения: </span>
            <span th:text="${product.lens_values}"></span>
        </div>
        <div class="product-price" style="color: #0000ff; font-size: 20px; margin-top: 15px;">
            <span>Цена: </span>
            <span th:text="${product.price}"></span>
        </div>
        <form th:action="@{/basket/add-cart}" method="post" style="margin-bottom: 20px;">
            <input type="hidden" name="productId" th:value="${product.id}">
            <input type="number" name="amount" th:value="1" style="width: 40px">
            <input type="hidden" name="path" th:value="products">
            <button type="submit" style="background-image: url('/img/basket-img.png'); background-color: transparent; background-size: contain; background-repeat: no-repeat; height: 30px; border: none; cursor: pointer;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-weight: 800;">+</span>
            </button>
        </form>
    </div>
</body>
</html>